<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
  <test name="Aparupa_Assignment1">
    <packages>
      <package name="runnerAssignment1"/>
    </packages>
<!--    <classes>-->
<!--      <class name="runnerAssignment1.Case1_Runner"/>-->
<!--    </classes>-->
  </test> <!-- Aparupa_Assignment1 -->
</suite> <!-- Default Suite -->
